.main-container {
    width: 47em;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    font-family: sans-serif;
}

.col {
    display: inline-block;
    width: 6em;
    margin-right: 20px;
    margin-top: 10px;
    border: 1px solid black;
    background-color: gray;
}

.pc{
    margin-right: 1.2em;
    margin-left: 0.2em;
    margin-top: 7px;
    margin-bottom: 5px;
    border: 1px solid black;
    padding: 0.5em 1em;
    background-color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.whiteboard {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 0.5em;
    font-weight: bold;
    text-align: center;
}

#asdos{
    width: 6em;
    border: 1px solid black;
    padding: 1.2em 0;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

#input-area{
    font-family: sans-serif;
}